/.bundle
/config/master.key
/docker-compose.override.yml
/log/*
!/log/.keep
/node_modules
/public/assets
/public/packs
/public/packs-test
/storage/*
!/storage/.keep
/vendor/bundle
/tmp/*
!/tmp/.keep
/yarn-error.log
.byebug_history
.yarn-integrity
yarn-debug.log*
